<div id="footer">
    <div class="one-fourth">
      <h3>Useful Links</h3>
      <ul style="font-family: Georgia, 'Times New Roman'; margin: 0 15px 0 0">
        <li style="border-bottom: 1px dotted #737a84; border-top: 1px dotted #737a84; padding: 3px 20px; letter-spacing: 2px">Lorem Ipsum</li>
        <li style="border-bottom: 1px dotted #737a84; padding: 3px 20px; letter-spacing: 2px">Ellem Ciet</li>
        <li style="border-bottom: 1px dotted #737a84; padding: 3px 20px; letter-spacing: 2px">Currivitas</li>
        <li style="border-bottom: 1px dotted #737a84; padding: 3px 20px; letter-spacing: 2px">Salim Aritu</li>
      </ul>
    </div>
    <div class="one-fourth">
      <h3>Terms and Conditions</h3>
      <ul style="font-family: Georgia, 'Times New Roman'; margin: 0 15px 0 0">
        <li style="border-bottom: 1px dotted #737a84; border-top: 1px dotted #737a84; padding: 3px 20px; letter-spacing: 2px">Lorem Ipsum</li>
        <li style="border-bottom: 1px dotted #737a84; padding: 3px 20px; letter-spacing: 2px">Ellem Ciet</li>
        <li style="border-bottom: 1px dotted #737a84; padding: 3px 20px; letter-spacing: 2px">Currivitas</li>
        <li style="border-bottom: 1px dotted #737a84; padding: 3px 20px; letter-spacing: 2px">Salim Aritu</li>
      </ul>
    </div>
    <div class="one-fourth">
      <h3>Information</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim id dui tincidunt vestibulum rhoncus a felis. Theme by <a href="http://www.csstemplateheaven.com">CssTemplateHeaven</a><br>
      Photos © <a href="http://dieterschneider.net">Dieter Schneider</a> </div>
    <div class="one-fourth last">
      <h3>Another Column</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim id dui tincidunt vestibulum rhoncus a felis. </div>
    <div style="clear:both"></div>
  </div>