<div class="header">
    <!-- Dynamic Menu -->
    <ol id="menu" class="simple_menu simple_menu_css horizontal black_menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Blog</a>
        <!-- sub menu -->
        <ol>
          <li><a href="gallery.html">Login/Register</a></li>
          <li><a href="cinema.html">About</a></li>
          <li><a href="slider.html">Contact</a></li>
          <li><a href="columns.html">Columns</a></li>
          <li><a href="tabs.html">Tabs</a></li>
          <li class="last"><a href="photogrid.html">Photo Grid</a></li>
          <li><a href="image.html">Static Image</a></li>
        </ol>
        <!-- end sub menu -->
      <li><a href="portfolio.html">Login/Register</a></li>
      <li><a href="fullscreen-gallery.html">Contact</a></li>
      <li class="last"><a href="news.html">About</a></li>
    </ol>
    <div class="clr"></div>
    <!-- menu 2 -->
    {% comment %} <ol id="menu2" class="simple_menu simple_menu_css horizontal black_menu">
      <li><a href="gallery.html">Portraits</a></li>
      <li><a href="gallery.html">Landscapes</a></li>
      <li class="last"><a href="gallery.html">Wildlife</a></li>
    </ol> {% endcomment %}
    <div class="clr"></div>
  </div>
  <!-- end header -->